
{% extends "blackjack/views/templates/base.html" %}






 <div class="hero-unit">
    <h1>Welcome to blackjack</h1>
 
    <p>
    this is a luminus powered by clojure web-app 
    
    </p>
    <p>
    blackjack has many rules i choose the simplest.<p> 
    try by dealer with a combination of cards equal to 21 or less</p><p> 
    the card jack,queens and king all are counted as 10 the ace's can be 1 or 10 
     
    </p>
    <ul>your options are </ul>
    <ol>hit me this will add an card to your hand  </ol>
    <ol>stand this enable the dealer to try to beat your total score </ol>
    <ol>reset this will reset your game thanks for playing </ol>
     <ol><button onclick="window.location.href='/play'"">Play!</button></ol>
 </div>

 <div class="row-fluid">
    <div class="span8">       

    </div>
 </div>




